@font-face {
    font-family: "tomatoes";
    src: url("./media/tomatoes.ttf");
}
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --background-color: #f7f7f7;
    --border-color: #eeeeee;
    --input-color: #E5E7EB;
}

body {
    margin: 0;
    height: 100vh;
    display: flex;
}

header {
    min-width: clamp(320px, 35vw, 60rem);;
    background-image: url("./media/images/background.jpg");
    background-size: cover;
    opacity: 0.7;
    display: flex;
}

.logo-container {
    margin-top: 30vh;
    flex: 1;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    opacity: 50%;
}

.logo-img {
    height: 5rem;
}

.logo-txt {
    margin: 0;
    padding-top: 20px;
    font-size: 3rem;
    font-family: tomatoes;
    color: white;
    opacity: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    background-color: var(--background-color);
}

h1 {
    font-family: 'Anek Latin', sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
    margin: -0.5rem 0rem;
    padding: 0rem 2rem;
}

form {
    padding: 2rem 2rem;
    background-color: white;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.123);
}

ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.form-input {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin: 0.7rem 5rem 0.7rem 0rem;
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    color: #525252;
}

.input-box {
    border: 1px solid var(--input-color);
    border-radius: 5px;
    padding: 0.2rem 0rem 0.2rem 1rem;
}

.input-box:invalid {
    outline-color: red;
}

.input-box:focus {
    outline-color: rgb(77, 92, 175);
}

button {
    margin: 0rem 2rem;
    padding: 0.5rem 2rem;
    width: 10rem;
    border-radius: 5px;
    border-width: 0px;
    background-color: rgb(69, 147, 216);
    color: white;
}

footer {
    padding: 0rem 2rem;
}